[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-assets = "*"
flask-admin = "*"
flask-bcrypt = "*"
flask-security = "*"
jsmin = "*"
cssmin = "*"
flask-markdown = "*"
flask-debugtoolbar = "*"


[dev-packages]

