{% extends 'layout.html' %}

{% block content %}
<form action="{{ url_for('admin.edit_post', post_id=post_id) }}" method="post">
    {{ form.csrf_token }}

    {{ form.title.label}}<br>
    {% if form.title.errors %}
        {% for error in form.body.errors %}
            <p class="errors">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {{ form.title}}<br>

    {{ form.body.label }}<br>
    {% if form.body.errors %}
        {% for error in form.body.errors %}
            <p class="errors">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {{ form.body }}<br>

    {{ form.publish }} {{ form.publish.label }}<br>

    {{ form.submit }}
</form>

{% endblock content %}
